@charset "UTF-8";


/* form styling */
#select:focus, select:active, input:focus, input:active, input:focus + label, 
input:active + label, label[for]:focus, label[for]:active {
color: #FFF !important;
background-color: #BB3D2F !important;}

	background: green;
}
#wrapper {
	width: 60%;
	margin-left:4%;
}

div#formcol1 {
	float:left;	
	width: 100%;
}
#proposal2020 {
    text-align: right;
}

div#formcol1 input.reqfield {
	background-color: #FF9;
}

/* end of form css */
	
